:root {
  --text-light-40: rgba(229,242,248,0.4);
  --text-light-60: rgba(229,242,248,0.6);
  --orange: #FF763C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  color: #E5F2F8;
  background: #003E6D;
  background-image: radial-gradient(circle at center, rgba(8, 108, 181, 0.9), transparent 70%);
  background-size: 1600px 1600px, cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -200px;
  font-family: var(--font-messina-sans);
}

.kronaOne {
  font-family: var(--font-krona-one);
  font-weight: 400;
}

.messinaSans {
  font-family: var(--font-messina-sans)
}

.messinaSansBold {
  font-family: var(--font-messina-sans-bold)
}

.messinaSerifItalic {
  font-family: var(--font-messina-serif-italic);
}

.messinaSerifItalicBold {
  font-family: var(--font-messina-serif-italic-bold);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

a:hover, a:active {
  color: #FF763C;
}

.wrap {
  max-width: 1100px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 24px;
}

header {
  position: relative;
  margin-top: 50px;
}

header .wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.notification {
  position: relative;
  z-index: 5;
  background: #00192C;
  padding: 16px 24px;
  text-align: center;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 10px 64px 0px;
}
